@tailwind base;
@tailwind components;
@tailwind utilities;

/* ::-webkit-scrollbar {
  width: 10px;
} */

/* Track */
/* ::-webkit-scrollbar-track {
  background: transparent;
} */

/* Handle */
/* ::-webkit-scrollbar-thumb {
  background: transparent;
  border-radius: 999px;
  border: 1px solid transparent;
} */

/* Handle on hover */
/* ::-webkit-scrollbar-thumb:hover {
  border-color: #53535f;
} */

.noHoverItem{
  padding: 0 !important;
  margin: 15px 0 !important;
}

.noHoverItem:hover{
  background: transparent !important;
}

.noHoverItem:focus{
  background: transparent !important;
}

.noHoverItem:active{
  background: transparent !important;
}
